<div class="jumbotron text-center">
  <h1 class="display-3">{{title1}}</h1>
  <p class="lead">Save your ideas on the Ethereum blockchain</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Idea</a>
</div>

