body {
    font-family: "Arial", Times, serif;
    color:white;
}

.top_nav {
    background: rgba(10, 10, 10, 0.6)!important;
}

.nav_menu {
    float: left;
    background: rgba(10, 10, 10, 0.6)!important;
    border-bottom: 0px dashed #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    box-shadow: 0 8px 6px -6px black;
}

input[type="text"],input[type="number"], input[type="email"], input[type="password"], textarea {

    background: rgba(10, 10, 10, 0.6);
    color:white;

}
.right_col {
    background: rgba(0, 0, 0, 0)!important;
    /*
    background-image:url("/img/blur.jpg")!important;
    background-size: cover!important;
    */
}

.left_col {
    background: rgba(0, 20, 0, 0.1)!important;
    /*
    background-image:url("/img/blur2.jpg")!important;
    background-size: cover!important;
    */
}

.main_container {
}

.logo {
    width:130px;
    margin:auto;
}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

.x_content {
    /*background: rgba(00, 00, 0, 0.6);*/
    border-radius:10px;
    padding: 5px;
    font-size:;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    border:none;
    background: rgba(10, 10, 10, 0.4);
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    box-shadow: 0 8px 6px -6px black;
    border-radius:10px;
}

.page-title {
    font-size:;
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}
.x_title .filter {
    width: 40%;
    float: right;
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.x_title h2 small {
    margin-left: 10px;
}
.x_title span {
    color:white!important;
}
.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}

h3 {
    font-size:40px;
    color:white;
}

a {
    color:#f5f5f5;
}

a:hover {
    color:#3adb15;
}