

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="x_panel ">
            <div class="row">
                <div class="col-md-12 center center-block center-margin align-content-center">

                        <img src="/img/eindhovenLogo.PNG" style="padding-left: 10%;">
                        <h3 class="text-center">
                            Login
                        </h3>
                        <form action="/users/login" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Wachtwoord</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-danger">Log in</button>
                        </form>

                </div>
            </div>


        </section>
    </div>


</div>